@charset "UTF-8";
.sa-card-subtitle {
    width: 100%;
    height: 28px;
    line-height: 28px;
    font-size: 21px;
    color: #999999;
    text-align: center;
    margin-top: 15px;
}
.acm-card {
    width: 145px;
    height: 270px;
    margin: 54px auto 21px;
    overflow: hidden;
}
.acm-card img {
    width: 100%;
    height: 270px;
    overflow: hidden;
    border-radius: 6px;
}
.acm-card .acm-card-title {
    text-align: center;
    margin-top: 9px;
    color: #999999;
    height: 28px;
    line-height: 28px;
    font-size: 21px;
    font-weight: bold;
}
.acs-area {
    width: 860px;
    overflow: hidden;
    margin: 54px auto 17px;
}
.acs-card {
    width: 152px;
    height: 178px;
    margin: 10px;
    overflow: hidden;
    float: left;
}
.acs-card-icon {
    width: 61px;
    height: 61px;
    margin: 18px auto 9px;
    overflow: hidden;
}
.acs-card-title {
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: #333333;
    height: 28px;
    line-height: 28px;
    font-size: 21px;
}
.acs-card-subtitle {
    width: 100%;
    height: 37px;
    line-height: calc(37px / 2);
    font-size: 14px;
    text-align: center;
    color: #999999;
    font-weight: bold;
    margin-top: 9px;
}
.aci-card {
    width: 860px;
    margin: 27px auto;
    overflow: hidden;
}
.aci-card-child {
    height: 313px;
}
.aci-card-child-intro {
    width: 221px;
    overflow: hidden;
    margin: 67px auto 0;
}
.aci-card-title {
    width: 100%;
    color: #333333;
    font-size: 19px;
    height: 26px;
    line-height: 26px;
    font-weight: bold;
    margin-bottom: 26px;
}
.aci-card-subtitle {
    width: 100%;
    overflow: hidden;
    font-size: 16px;
    color: #333333;
    font-weight: 400;
}
.sa-card-buy {
    width: 100%;
    overflow: hidden;
}
.sa-card-buy-img {
    width: 292px;
    height: 292px;
    overflow: hidden;
    margin: 27px 0 0 11px;
    border-radius: 5px;
}
.sa-card-buy-title {
    width: 100%;
    height: 29px;
    line-height: 29px;
    color: #0C06AF;
    font-weight: 600;
    font-size: 21px;
    margin-top: 20px;
}
.sa-card-buy-subtitle {
    width: 100%;
    overflow: hidden;
    padding: 5px 0;
    line-height: 26px;
    font-size: 18px;
    color: #666666;
    font-weight: 400;
    margin-top: 20px;
}
.sa-card-buy-info {
    width: calc(100% - 15px);
    height: 30px;
    line-height: 30px;
    color: #666666;
    margin-top: 20px;
    font-weight: 400;
    font-size: 18px;
}
.sa-card-buy-info div:nth-child(1) span {
    font-size: 21px;
    color: #FF0000;
    margin-left: 20px;
}
.sa-card-buy-button {
    width: 100%;
    height: 66px;
    margin-top: 40px;
}
.sa-card-buy-button button:nth-child(1) {
    position: absolute;
    right: 220px;
}
.sa-card-buy-button button:nth-child(2) {
    position: absolute;
    right: 21px;
}
.sa-card-buy-button .btn {
    padding: .375rem 50px;
    /*font-size: 21px;*/
}
