@charset "UTF-8";
* {
    font-family: system-ui;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar{
    display: none;
}
.us-none,
.us-none *{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}
.us-hover:hover {
    cursor: pointer;
}
.ns-bg-color {
    background-color: #2A7EFB !important;
}
.sa-bg-color {
    background-color: rgba(0,0,0,0.2);
}
.sa-bg-blue {
    background-color: #3B78EF;
}
#nav-tab .nav-link {
    background-color: rgba(255,255,255,0) !important;
    color: #495057;
    user-select: none;
    -webkit-user-drag: none;
}
#nav-tab .nav-link.active{
    color: #2A7EFB;
}
#nav-tab .nav-link.nav-link-more {
    color: #2A7EFB;
}
#nav-tabContent .news-card {
    width: calc(50% - 16px);
    margin: 8px;
    float: left;
}
#nav-tabContent .news-card-x {
    width: calc(100% - 16px);
    margin: auto;
}
#nav-tabContent .news-card-x:hover {
    cursor: pointer;
}
#nav-tabContent .news-card-title {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    width: calc(100% - 8px);
    height: 38px;
    line-height: 19px;
}
#nav-tabContent .news-card-intro {
    font-size: 11px;
    font-weight: 400;
    color: #333;
    width: calc(100% - 8px);
    height: 30px;
    line-height: 15px;
}
#nav-tabContent .news-card-times {
    font-size: 11px;
    font-weight: 400;
    color: #999;
    width: calc(100% - 8px);
    height: 15px;
    line-height: 15px;
}
/* chrome */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
/* 火狐浏览器 */
input[type="number"]{
    -moz-appearance: textfield;
}
/**************** 尾部 ********************/
.ns-base-width {
    width: 1200px;
    margin: auto;
}
.base-footer {
    background: #272B2E;
    min-width: 1200px;
}

.base-footer .footer-main {
    padding: 50px 0;
    margin: auto;
}

.base-footer .footer-consult {
    display: flex;
    justify-content: space-between;
}

.base-footer .footer-consult .consult-left {
    display: flex;
}

.base-footer .footer-consult .consult-left dl {
    margin-bottom: 0;
}

.base-footer .footer-consult .consult-left dl ~ dl {
    margin-left: 75px;
}

.base-footer .footer-consult .consult-left dt {
    margin-bottom: 25px;
    font-size: 16px;
    color: #FFF;
}

.base-footer .footer-consult .consult-left dd {
    font-size: 14px;
    color: #909192;
    margin-bottom: 0;
}

.base-footer .footer-consult .consult-left dd a {
    color: #909192;
}

.base-footer .footer-consult .consult-left dd a:hover {
    text-decoration: none;
}

.base-footer .footer-consult .consult-left dd ~ dd {
    margin-top: 20px;
}

.base-footer .footer-consult .consult-left dd span:first-of-type {
    display: inline-block;
    width: 84px;
}

.base-footer .footer-consult .consult-left dd.time span:last-of-type {
    display: block;
    margin-left: 88px;
}

.base-footer .footer-consult .consult-left dd.online-contact a {
    display: inline-block;
    text-align: center;
    line-height: 32px;
    width: 110px;
    height: 32px;
    background-color: #2A7EFB;
    border-radius: 25px;
    color: #fff;
}

.base-footer .footer-consult .consult-left dd.online-contact a:hover {
    text-decoration: none;
}

.base-footer .footer-consult .consult-right {
    display: flex;
}

.base-footer .footer-consult .consult-right .consult-right-code {
    text-align: center;
    width: 140px;
    height: 140px;
}

.base-footer .footer-consult .consult-right .consult-right-code:first-of-type {
    margin-right: 55px;
}

.base-footer .footer-consult .consult-right .consult-right-code:first-of-type img {
    padding: 10px;
    background-color: #fff;
    box-sizing: border-box;
}

.base-footer .footer-consult .consult-right .consult-right-code img,
.base-footer .footer-consult .consult-right .consult-right-code div{
    margin-bottom: 10px;
    max-width: 100%;
    text-align: center;
}
.base-footer .footer-consult .consult-right .consult-right-code div {
    width: 140px;
    height: 140px;
    background: #FFF;
}
.base-footer .footer-consult .consult-right .consult-right-code div svg {
    margin-top: 10px;
}

.base-footer .footer-consult .consult-right .consult-right-code span {
    font-size: 14px;
    color: #fff;
}

.base-footer .footer-other-info {
    margin-top: 32px;
    padding: 32px 0;
    border-top: 1px solid #44484a;
    border-bottom: 1px solid #44484a;
}

.base-footer .footer-other-info dl {
    display: flex;
    color: #909192;
    font-size: 14px;
}

.base-footer .footer-other-info dl a {
    color: #909192;
}

.base-footer .footer-other-info dl dd:nth-child(2n) {
    margin: 0 5px;
}

.base-footer .footer-other-info .other-company-info {
    display: flex;
    align-items: center;
    color: #909192;
}

.base-footer .footer-other-info .other-company-info span:first-of-type {
    margin-top: 4px;
    margin-right: 10px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus,
.navbar-toggler:focus,
.navbar-toggler:active:focus,
.navbar-toggler.active:focus,
.navbar-toggler.focus,
.navbar-toggler:active.focus,
.navbar-toggler.active.focus,
.btn-close:focus,
.btn-close:active:focus,
.btn-close.active:focus,
.btn-close.focus,
.btn-close:active.focus,
.btn-close.active.focus {
    outline: none;
    box-shadow:none;
}
a {
    text-decoration: none;
}
.navbar .nav-login {
    width: 150px;
}
.navbar .nav-login .btn {
    background: rgba(11,69,182,1);
    border-radius: 22px;
    height: 44px;
    width: 150px;
}
.btn-group-lg>.btn, .btn-lg {
    padding: unset;
}
.navbar .nav-login .btn:focus {
    border-color: rgba(0,0,0,0);
}
.navbar .navbar-nav .nav-item {
    padding: 0 18px;
}
.navbar .navbar-nav .nav-item .nav-link {
    font-weight: 400;
    font-size: 18px;
    color: #DDD;
}
.navbar .navbar-nav .nav-item .nav-link.active {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: #FFF;
}
.navbar .navbar-nav .nav-item .nav-bottom-active {
    height: 2px;
    background: #2A7EFB;
    border-radius: 1px;
}
/*  底部信息  */
.bottom-info{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 194px;
}
.bottom-info span{
    font-size: 26px;
    color: #fff;
}
.bottom-info a {
    text-decoration: none;
}
.hide-text {
    color: rgba(255,255,255,0);
    user-select: none;
}
.hide-text:hover {
    color: rgba(255,255,255,1);
}
.nsa-title {
    margin: 5px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    font-size: 26px;
    font-weight: bold;
    background: url("images/default/title-bg.png") no-repeat center center;
    background-size: auto 100%;
    text-align: center;
    text-shadow: 0 3px 5px #002C83;
    color: #FFFFFF;
}
.bottom-info button{
    margin-top: 30px;
    width: 160px;
    height: 40px;
    background:rgba(255,255,255,1);
    border-radius:3px;
}
.ns-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 32px;
    border: 1px solid #2A7EFB;
    color: #2A7EFB;
    background-color: #fff;
}
.bottom-info .ns-btn:hover {
    background-color: #FFFFFF;
    color: #2A7EFB;
}
