@charset "UTF-8";
.container {
    min-width: 1200px;
}
.banner-box {
    border-radius: 2px;
    user-select: none;
    /*Banner 区域内模块阴影*/
    --banner-box-shadow: rgba(0,0,0,0.1) 0 6px 6px 0;
}
.banner-box img {
    user-select: none;
    -webkit-user-drag: none;
}
/*Banner 左侧区域*/
.banner-box-left {
    border-top: 5px solid rgba(20,114,251,1);
    box-shadow: var(--banner-box-shadow);
}
/*Banner 右侧区域*/
.banner-box-right {
    border-top: 5px solid rgba(255,255,255,1);
    box-shadow: var(--banner-box-shadow);
}
/*Banner 中间轮播图*/
.banner-box-carousel {
    border-top: 5px solid rgba(255,255,255,0);
    height: 320px;
    overflow: hidden;
    box-shadow: var(--banner-box-shadow);
}
.banner-box-link-more {
    font-size: 12px;
}
.banner-box-link-more a {
    color: #272B2E;
}
.banner-box-link-more a:hover {
    opacity: 0.8;
}
.banner-box-link-title {
    font-size: 16px;
    font-weight: bold;
}
.banner-box-link-inner {
    font-size: 14px;
}
.banner-box-link-inner a {
    color: #272B2E;
}
.banner-box-link-inner a:hover {
    opacity: 0.8;
}
.banner-box-login-area {
    width: 100%;
    height: 164px;
}
.banner-box-login-img-box {
    width: 100%;
    height: 109px;
}
.banner-box-login-button-area {
    width: 100%;
    height: 35px;
    position: relative;
}
.banner-box-login-button-area button {
    height: 35px;
    width: 90px;
    line-height: 0.6;
    border-radius: calc(35px / 2);
    --button-width: 15px;
}
.banner-box-login-button-area button:nth-child(1) {
    position: absolute;
    left: var(--button-width);
}
.banner-box-login-button-area button:nth-child(2) {
    position: absolute;
    right: var(--button-width);
}
.banner-box-ad-area {
    height: 215px;
    width: 100%;
    background: rgba(232,232,232,1);
    border-radius: 6px;
}
.banner-box-ad-area:hover {
    cursor: pointer;
}
.banner-box-trd {
    height: 80px;
    width: 100%;
}
.banner-box-trd .banner-box-trd-width {
    width: calc(100% - 10px);
}
.banner-box-trd-card {
    width: 100%;
    height: calc(100% - 4px);
    margin-top: 2px;
    border-radius: 3px;
    background: rgba(232,232,232,1);
    box-shadow: var(--banner-box-shadow);
}
.banner-box-trd-card:hover {
    cursor: pointer;
}
.banner-box-trd .row>* {
    padding-right: calc(var(--bs-gutter-x) * .15);
    padding-left: calc(var(--bs-gutter-x) * .15);
}
/*展示卡片*/
.sa-card {
    width: 100%;
    overflow: hidden;
}
.sa-card, .sa-card>* {
    user-select: none;
    -webkit-user-drag: none;
}
.sa-card-title {
    margin: 5px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    font-size: 26px;
    font-weight: bold;
    background: url("../../images/default/title-bg.png") no-repeat center center;
    background-size: auto 100%;
    text-align: center;
    text-shadow: 0 3px 5px #002C83;
    color: #FFFFFF;
}
.sa-card-inner {
    width: 100%;
    height: 295px;
    overflow: hidden;
    border-radius: 6px;
    position: relative;
    background: #F1FCFF;
}
.sa-card-inner-x {
    height: calc(295px * 2);
}
.sa-card-inner-left-img {
    height: 100%;
    width: 270px;
    background: rgba(0,0,0,0.2);
    position: absolute;
    left: 0;
}
.sa-card-inner-right {
    height: calc(100% - 18px);
    margin-top: 9px;
    position: absolute;
    right: 18px;
    width: calc(100% - 340px);
    overflow: hidden;
    overflow-x: auto;
}
.sa-card-inner-right::-webkit-scrollbar {
    display: none;
}
.sa-sm-card-out {
    height: 100%;
    display: inline-flex;
    overflow: hidden;
}
.sa-sm-card-out-x {
    height: 100%;
    overflow: hidden;
}
.sa-sm-card {
    height: 100%;
    width: 193px;
    background: #FFF;
    float: left;
    margin: 0 9px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 9px #D2E1F9;
    border-radius: 4px;
}
.sa-sm-card-x {
    height: calc(50% - 9px);
    margin: 0 8px 9px;
}
.sa-sm-card-img {
    width: 176px;
    height: 176px;
    margin: 9px;
    background: rgba(0,0,0,0.2);
}
.sa-sm-card-title {
    width: 100%;
    text-align: center;
    height: 21px;
    line-height: 21px;
    font-size: 16px;
    font-weight: bold;
}
.sa-sm-card-old-price {
    margin: 9px 0;
    width: 100%;
    text-align: center;
    color: #999;
    font-size: 12px;
    height: 17px;
    line-height: 17px;
}
.sa-sm-card-old-price span {
    text-decoration: line-through;
}
.sa-sm-card-last-price {
    width: 100%;
    height: 17px;
    line-height: 17px;
    font-size: 12px;
    color: #666;
    text-align: center;
}
.sa-sm-card-last-price span {
    color: #FF0000;
    font-weight: bold;
}
.sa-sm-card-more-top {
    width: 100%;
    height: 21px;
    line-height: 21px;
    font-size: 16px;
    font-weight: bold;
    color: #666;
    margin-top: 100px;
    text-align: center;
}
.sa-sm-card-more-bottom {
    width: 100%;
    height: 21px;
    line-height: 21px;
    font-size: 16px;
    font-weight: bold;
    color: #3B78EF;
    margin-top: 35px;
    text-align: center;
}
@media screen and (min-width: 1400px){
    .banner-box-login-button-area button {
        --button-width: 25px;
    }
}
